.gallery .content {
  -webkit-columns-count: 1;
  -moz-columns-count: 1;
  column-count: 4;
  -webkit-column-width: 50%;
  -moz-column-width: 50%;
  column-width: 50%;
  padding: 0 20px;
}

.gallery .content .box {
  flex: 0 0 50%;
  max-width: 50%;
}
.gallery .content .box img {
  width: 190%;
  margin-bottom: 20px;
}

@media (max-width: 750px) {
  .gallery .content {
    flex-wrap: wrap;
    column-count: 2;
  }
  .gallery .content .box {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .gallery .content .box img {
    width: 100%;
  }
}
