@import "../../global.css";

.topbar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  background-color: var(--secondary);
  z-index: 99;
  top: 0;
}
.topbar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1400px;
  margin: 0 auto;
  padding: 0 10px !important;
}
.menu-mode {
  display: flex;
  align-items: center;
}
.menu-mode i {
  margin-right: 20px;
  font-size: 1.8rem;
  cursor: pointer;
}
.logo {
  width: 120px;
  cursor: pointer;
}

.burger-menu {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}
.burger-menu .line-medium {
  height: 4px;
  width: 30px;
  background: var(--primary);
}
.burger-menu .line {
  height: 4px;
  width: 40px;
  background: #000; 
}
@media (max-width: 400px) {
  .topbar-box {
    width: 100%;
  }
}

@media (max-width: 765px) {
  .topbar-box {
    width: 100%;
  }
  .logo {
    width: 100px;
  }
}
@media (max-width: 1500px) {
  .topbar-box {
    width: 1300px;
  }
}
@media (max-width: 1330px) {
  .topbar-box {
    width: 100%;
  }
}
