@import "../../../global.css";

/* ---------- Page liveTraining start ---------- */
.live-image {
  display: flex;
  justify-content: center;
  margin: 30px auto;
  width: 80%;
}
.text-price p {
  font-size: 18px;
}
.text-price h5 {
  font-size: 18px;
}
.text-price ul {
  font-size: 18px;
}
.text {
  width: 80%;
  margin: 0 auto;
}
.table-price {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

table {
  border-collapse: collapse;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  text-align: left;
  overflow: hidden;
  margin: 20px 0;
  border-radius: 5px;
}
caption {
  background: var(--primary);
}
caption h3 {
  font-size: 1.3rem;
  font-weight: 200;
  margin: 5px 0;
  color: #fff;
}
tr:nth-child(even) {
  background: #f4f6fb;
}
th {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.8rem;
}

td {
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  font-weight: 400;
}

.table-price .price {
  font-size: 1.2rem;
  color: var(--primary);
  font-weight: 500;
}

.table-price .currency {
  font-size: 0.9rem;
  color: var(--primary);
  font-weight: 500;
}
@media (max-width: 1000px) {
  .live-image img {
    width: 100%;
  }
}

@media (max-width: 780px) {
  .text {
    width: 90%;
    margin: 0 auto;
  }
  .table-price .price {
    font-size: 1rem;
  }
  .table-price .currency {
    font-size: 0.8rem;
  }

  th {
    padding: 0.4rem 1.8rem;
    font-size: 0.9rem;
  }

  td {
    padding: 0.4rem 1.8rem;
    font-size: 0.9rem;
  }
}

@media (max-width: 780px) {
  .live-image {
    width: 90%;
    margin: 30px auto;
  }
  .live-image img {
    width: 100%;
  }
}
/* ---------- Page liveTraining end ---------- */
