@import "../../global.css";

.container-slide {
  padding: 0;
  margin: 65px 0 0 0 !important;
}

.home {
  position: relative;
}
.slide-bar {
  margin: 0 auto;
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.bg div {
  width: 850px;
}

.bg h1 {
  font-size: 70px;
  font-weight: 600;
  margin: 0;
}

.bg p {
  margin-bottom: 50px;
}

.bg a {
  background: var(--primary);
  padding: 15px 60px;
  border-radius: 50px;
  text-decoration: none;
  color: #fff;
}
.slide-bar img {
  width: 100%;
  object-fit: cover;
  height: 90vh;
}

.mobile-img {
  display: none;
}

@media (max-width: 950px) {
  .bg div {
    width: 90%;
  }
}

@media (max-width: 900px) {
  .wpb-text {
    width: 300px;
  }
  .wpb-text h2 {
    font-size: 25px;
  }

  .bg h1 {
    font-size: 35px;
  }
}

@media (max-width: 600px) {
  .wpb-text {
    width: 200px;
    top: 40%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.3);
  }
  .wpb-text h2 {
    font-size: 16px;
    font-weight: bold;
  }
  .big-img {
    display: none;
  }
  .mobile-img {
    display: block;
    width: 100%;
  }
  .mobile-img img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }
}
